body{
    font-family: Arial, serif;
}
.daysBlock{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6% 4% 0 4%;
}
.name1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 33px;
}
.day1{
    display: flex;
    flex-direction: column;
    margin: 0 6%;
}
.day2{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.day3{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.day4{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.day5{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.day6{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}
.day7{
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}